In [1]:
import pandas as pd

In [17]:
df  = pd.read_csv('SampleData.csv',header=None)

In [18]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,741,742,743,744,745,746,747,748,749,750
0,GOOD,1,1,0,1,1,1,1,0,1,...,0,0,0,1,0,1,1,1,1,0
1,GOOD,1,1,0,1,1,1,1,0,1,...,0,0,0,1,0,1,1,1,1,0
2,GOOD,1,1,0,1,1,1,1,1,0,...,0,0,0,0,0,1,0,1,1,0
3,GOOD,1,1,0,1,1,1,1,1,0,...,0,0,0,0,0,1,0,1,1,0
4,GOOD,1,1,0,1,1,1,1,1,0,...,0,0,0,0,0,1,0,1,1,0

## Dropping the label

In [46]:
df_1 = df.drop(0,axis=1)

In [47]:
df_1

,1,2,3,4,5,6,7,8,9,10,...,741,742,743,744,745,746,747,748,749,750
0,1,1,0,1,1,1,1,0,1,0,...,0,0,0,1,0,1,1,1,1,0
1,1,1,0,1,1,1,1,0,1,0,...,0,0,0,1,0,1,1,1,1,0
2,1,1,0,1,1,1,1,1,0,0,...,0,0,0,0,0,1,0,1,1,0
3,1,1,0,1,1,1,1,1,0,0,...,0,0,0,0,0,1,0,1,1,0
4,1,1,0,1,1,1,1,1,0,0,...,0,0,0,0,0,1,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,1,0,0,0,1,0,1,1,0,1,...,0,0,0,1,0,1,1,1,0,1
246,1,0,0,0,1,0,1,1,0,1,...,0,0,0,1,0,1,1,1,0,1
247,1,0,0,0,1,0,1,1,0,1,...,0,0,0,1,0,1,1,1,0,1
248,1,0,0,0,1,0,1,1,0,1,...,0,0,0,1,0,1,1,1,0,1
249,1,0,0,0,1,0,1,1,0,1,...,0,0,0,1,0,1,1,1,0,1

## Number of features

In [23]:
df_1.shape

(250, 750)

No of columns is the features(As I've dropped the label).
Hence number of features is 750.

The order of data matrix 250 X 751

## The function to calculate and similarity for a pair of rows a and b

In [49]:
def sim(a,b):
    match = 0
    for i in range(1,750):
        if df_1.loc[int(a),int(i)] == df_1.loc[int(b),int(i)]:
            match = match +1
    similarity = match/750
    return similarity

In [63]:
similarity_matrix = []

In [64]:
for i in range(250):
    temp = []
    for j in range(250):
        if i!=j:
            similarity = sim(i,j)
            temp.append(similarity)
        else:
            temp.append(0)
    similarity_matrix.append(temp)

## Writing the Similarity matrix into a csv file

In [73]:
import csv

In [74]:
with open('sMatrix.csv', 'w', newline='') as file:
    writer = csv.writer(file)
    for i in range(250):
        writer.writerow(similarity_matrix[i])

In [72]:
len(similarity_matrix[249])

250

In [34]:
row = df_1.loc[0,1]

In [35]:
row

1

In [42]:
if df_1.loc[0,1] == df_1.loc[1,1]:
    print("YESS")
else:
    print("NOO")

YESS